{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

	{% block title %}{{ casino.name }} {% trans 'review' %}{% endblock %}
		
		{% block main %}
			{% if casino %}
				<div class="top top-menu">
					<a href="/{{ LANGUAGE_CODE }}/{{ casino.slug }}/go/{% if gambler_id %}?anid={{ gambler_id }}{% endif %}" class="top__imagebox" style="background-image: url('/media/images/bg/{{ casino.color }}');"  target="blank" >
						<img src="{{ casino.logo.logo.url }}">
					</a>
					<div class="top__reputation">
						<div class="rep-icon"><img src="/media/images/top-rep-icon.svg"></div>
						<div class="rep-text">{% trans 'Perfect Reputation' %}</div>
					</div>
					<div class="top__btnsbox visit-btnsbox">
						<a class="visit__btn visit__btn-orange" href="/{{ LANGUAGE_CODE }}/{{ casino.slug }}/go/{% if gambler_id %}?anid={{ gambler_id }}{% endif %}" onclick="ym(80110621,'reachGoal','{{ casino.slug }}');" target="blank" >
							{% trans 'Visit Casino' %}
						</a>
						<a class="visit__btn visit__btn-black" href="/{{ LANGUAGE_CODE }}/{{ casino.slug }}/go/{% if gambler_id %}?anid={{ gambler_id }}{% endif %}" onclick="ym(80110621,'reachGoal','{{ casino.slug }}');" target="blank" >
							{% trans 'Browse recommended casinos' %}
						</a>
					</div>
					{% if casino.promocode %}
						<div class="top__code">
							<p class="top__code-descr">
								<span>{% trans 'Bonus Code' %}</span>
								<button class="top__code-btncopy">
									<img src="/media/images/copy-icon.svg" alt="">
								</button>
							</p>
							<p class="top__code-hide-help" >Code copied</p>
							<input class="top__code-input" type="text" value="{{ casino.promocode }}" readonly>
						</div>
					{% endif %}
					<h2 class="top__pay-method-head"><img src="/media/images/top-pay-head-icon.svg"><span>{% trans 'Payment methods' %}</span></h2>
					<div class="top__pay-method-box">
						<div class="top__pay-logo-box">
							{% for pay in countryPaysList.all %}
								{% if pay.countryPay.countries == country %}
									<img src="{{ pay.countryPay.payment.logo.url }}" title="{{ pay.name }}" alt="{{ pay.countryPay.payment.name }}" >
								{% endif %}
							{% endfor %}
							
						</div>
					</div>
				</div>
				<div class="container-md"> 
					<div class="row">
						<div class="col-12 col-md-4 col-lg-3 p-md-0">
							<div class="sticky-container">
								<div class="top">
									<a href="/{{ LANGUAGE_CODE }}/{{ casino.slug }}/go/{% if gambler_id %}?anid={{ gambler_id }}{% endif %}" target="blank" class="top__imagebox" style="background-image: url('/media/images/bg/{{ casino.color }}');" target="blank" ><img src="{{ casino.logo.logo.url }}"></a>
									<div class="top__reputation">
										<div class="rep-icon"><img src="/media/images/top-rep-icon.svg"></div>
										<div class="rep-text">{% trans 'Perfect Reputation' %}</div>
									</div>
									<div class="top__btnsbox visit-btnsbox">
										<a class="visit__btn visit__btn-orange" href="/{{ LANGUAGE_CODE }}/{{ casino.slug }}/go/{% if gambler_id %}?anid={{ gambler_id }}{% endif %}" onclick="ym(80110621,'reachGoal','{{ casino.slug }}');" target="blank" >
											{% trans 'Visit Casino' %}
										</a>
										<a class="visit__btn visit__btn-black" href="/{{ LANGUAGE_CODE }}/{{ casino.slug }}/go/{% if gambler_id %}?anid={{ gambler_id }}{% endif %}" onclick="ym(80110621,'reachGoal','{{ casino.slug }}');" target="blank" >
											{% trans 'Browse recommended casinos' %}
										</a>
									</div>
									{% if casino.promocode %}
										<div class="top__code">
											<p class="top__code-descr">
												<button class="top__code-btncopy">
													<img src="/media/images/copy-icon.svg" alt="">
												</button>
												<span>{% trans 'Bonus Code' %}</span>
											</p>
											<p class="top__code-hide-help" >Code copied</p>
											<input class="top__code-input" type="text" value="{{ casino.promocode }}" readonly>
										</div>
									{% endif %}
									<h2 class="top__pay-method-head"><img src="/media/images/top-pay-head-icon.svg"><span>{% trans 'Payment methods' %}</span></h2>
									<div class="top__pay-method-box">
										<div class="top__pay-logo-box">
											{% for pay in countryPaysList.all %}
												{% if pay.countryPay.countries == country %}
													<img src="{{ pay.countryPay.payment.logo.url }}" title="{{ pay.name }}" alt="{{ pay.countryPay.payment.name }}" >
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="top-forstick"></div>
							</div>
						</div>
						<div class="col-12 col-md-8 col-lg-9 p-0">
							<div class="tab">
								<div class="tab__headers">
									<ul class="nav nav-tabs">
										<li class="nav-item tab__nav-item"><a class="nav-link active tab__btn" href="#tab-content-details" data-bs-toggle="tab">
												<svg>
													<use xlink:href="/media/images/sprites.svg#tab-header-details"></use>
												</svg><span class="tab__btntext">{% trans 'Casino details' %}</span></a></li>
										<li class="nav-item tab__nav-item">
											<a class="nav-link tab__btn" href="#tab-content-bonuses" data-bs-toggle="tab">
												<svg>
													<use xlink:href="/media/images/sprites.svg#bonuses"></use>
												</svg>
												<span class="tab__btntext">
													{% trans 'Bonuses' %}
												</span>
												<span class="tab__prefix prefix-orange">
													{{ casino.bonus.all|length}}
												</span>
											</a>
										</li>
										<li class="nav-item tab__nav-item"><a class="nav-link tab__btn" href="#tab-content-rep" data-bs-toggle="tab">
												<svg>
													<use xlink:href="/media/images/sprites.svg#tab-header-rep"></use>
												</svg><span class="tab__btntext">{% trans 'Reputation explained' %}</span></a></li>
										<li class="nav-item tab__nav-item">
											<a class="nav-link tab__btn" href="#tab-content-pay" data-bs-toggle="tab">
												<svg>
													<use xlink:href="/media/images/sprites.svg#tab-haeder-pay"></use>
												</svg>
												<span class="tab__btntext">{% trans 'Payment methods' %}</span>
												<span class="tab__prefix prefix-orange">
													{{ payCasinoList.all|length }}
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="tab-content tab__content">
									{% include "details.html" %}
									
									{% include "bonuses.html" %}

									{% include "rep.html" %}
									
									{% include "payment.html" %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endblock %}
					